/*Small Screen */
@media only screen and (max-width: 600px) {
    #logo-img{
        width: 52%;
        margin-left: -15px;
    }
}
/*big screen*/
@media only screen and (min-width: 610px) {
    #logo-img{
        width: 15%;
    }
    #phoneMain{
        display: none;
    }
}