# Turn Rewrite Engine On
#RewriteEngine on
#
#RewriteRule ^index/?$ index.php
#RewriteRule ^signup/?$ signup.php
#RewriteRule ^register/?$ register.php
#RewriteRule ^about/?$ index.php?page_name=about
#RewriteRule ^blogs/?$ index.php?page_name=blogs
#RewriteRule ^blogs/([0-9a-zA-Z_-]+)$ index.php?page_name=blogs
##RewriteRule ^blogdetails/([0-9a-zA-Z_-]+)/?$ index.php?page_name=blogdetails&blogId=76[NC,L]
##RewriteRule index/page_name/(.*)/blogId/(.*)/ index.php?page_name=$1&blogId=$2
#RewriteRule ^index/page_name/(.*)/blogId/(.*) index.php?page_name=$1&blogId=$2
#http://localhost/biharlocalguide/index/subcatdetails/45


#Disable Direcoty Listing
#Options -Indexes

#[NC, L]
# NC makes the rule non case sesitive
# L makes this the last rule that this specific condition will match

#Rewrite for products.php?pg=xxxx
#RewriteRule ^products/([0-9]) products.php?pg=$1
#[NC, L]

#RewriteRule ^index?$ index.php
#RewriteRule ^index/([0-9a-zA-Z_]+) index.php?page_name=$1 [NC,L]
#
## sad url bihartourism.org/index.php?page_name=catdetails&catId=15
## Happy url bihartourism.org/index/catdetails/13
#RewriteRule ^/index/([0-9]+)/([0-9a-zA-Z_-]+)$ index.php?page_name=$1&subcatId=$2 [NC,L]
#RewriteRule ^/index/([0-9]+)/([0-9a-zA-Z_-]+)$ index.php?page_name=$1&catId=$2 [NC,L]

